@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: #feb000;
  text-decoration: none;
}
header {
  font-family: "Tajawal", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: #192836;
}
.logo {
  cursor: pointer;
  height: 100px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 20px;
}
.nav-links li a:hover {
  color: #011a3e;
  background-color: #efaf2f;
  padding: 20px;
  transition: all 0.5s ease 0s;
}

/* ------------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #192836;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.img-co {
  padding: 10px;
}

#QS-LOGO {
  width: 170px;
  height: 83px;
}
#CHINA-LOGO {
  width: 210px;
  height: 75px;
}
#WEBO-LOGO {
  width: 170px;
  height: 91px;
}
#WORLD-LOGO {
  width: 200px;
  height: 69px;
}

.img-co:hover {
  background-color: #efaf2f;
  border-radius: 15px;
  transition: 0.9s;
  padding: 20px;
}
.img-main {
  padding-left: 30px;
  width: 100%;
}
.ing-frame {
  width: 100%;
}

/* body */
#mid-header {
  font-family: "Inter", sans-serif;

  text-align: center;
  padding: 30px;
}

#mid-container {
  display: flex;
  align-items: center;
  padding: 15px;
}
#mid-container > div {
  max-width: 100%;

  border-radius: 5px;
  padding: 8px;
}

.Left-container img {
  width: 150px;
  padding: 10px;
}
.mid-text {
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
#test {
  max-width: 80%;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.midd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.midd-container img {
  width: 300px;
}
.Right-container img {
  width: 150px;
  padding: 10px;
}

/* footer */

footer {
  padding-top: 50px;
  background: #192836;
  font-family: "Inter", sans-serif;
}
.footer-container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}
h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  color: #efaf2f;
}
.footer-content a {
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul {
  text-align: center;
  list-style-type: none;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #efaf2f;
  transition-duration: 0.5s;
}

.list li:hover::before {
  width: 70px;
}

.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: #efaf2f;
  font-size: 25px;
}
.footer-links {
  text-decoration: none;
  list-style-type: none;
}
.bottom-bar {
  background: #efaf2f;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
